body{color:gray;font-size:12px;font-family:'Arial';line-height:2em;}
a:link{color:#727272;text-decoration:none;}
a:hover{text-decoration:underline;}
.no1{color:#b9f605;font-size:14px;font-weight:bolder;}
.no2{color:white;}
a:hover{color:#b9f605;text-decoration:none;}
#no3{color:#fdb306;}